{% extends "base.html" %}
{% block title %}upload{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<form id="upload" enctype="multipart/form-data" method="post" action="file">
   <div class="form-group">
        <label for="type-select"> Select File Type: </label>
        <select id="type-select" class="form-control">
            <option value="1">Ruleset</option>
            <option value="2">URL List</option>
        </select>
        <br>

        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
    <input type="submit" class="btn btn-primary" value="Upload" onsubmit="false;">
    </div>
</form>
    <a href="/admin" class="btn btn-primary">Go Back</a>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {

	$('form').on('submit', function(event) {

		var form = $('#upload')[0];
        var fd = new FormData(form);

        $.ajax({
          type : 'POST',
          url : '/file',
          data: fd,
          processData: false,  // tell jQuery not to process the data
          contentType: false   // tell jQuery not to set contentType
        });

		event.preventDefault();

	});

	$('.custom-file-input').on('change', function() {
    let fileName = this.value.split('\\').pop();
    $('.custom-file-label').addClass("selected").html(fileName);
    });

});


</script>

{% endblock %}
